<ul class="list-group p-5">
  <li class="list-group-item"><a href="#">Todos</a></li>
  <li class="list-group-item"><a href="#">Filmes</a></li>
  <li class="list-group-item"><a href="#">Seriados</a></li>
  <li class="list-group-item"><a href="#">Pessoas</a></li>
</ul>
