<div data-controller="display" class="row">
  <div class="col-3 sidebar">
    <ul class="list-group mx-2 my-2">
      <%= turbo_frame_tag "filters" do %>
        <%= render partial: "media/filters" %>
      <% end %>
    </ul>
  </div>

  <div class="col-6">
    <%= render partial: "media/search_form" %>

    <%= turbo_frame_tag "results" do %>
    <% end %>
  </div>

  <div class="col-3">
  </div>
</div>

