<div data-controller="display" class="flex p-5 m-2">
  <div class="w-1/4">
    <%= render partial: "media/filters" %>
  </div>

  <div class="w-2/4">
    <%= render partial: "media/search_form" %>
    <%= turbo_frame_tag "results" do %>
    <% end %>
  </div>
</div>

