<div data-controller="display" class="flex">
  <div class="flex-1">
    <ul class="list-group mx-2 my-2">
      <%= render partial: "media/filters" %>
    </ul>
  </div>

  <div class="flex-1">
    <%= render partial: "media/search_form" %>
    <%= turbo_frame_tag "results" do %>
    <% end %>
  </div>

  <div class="flex-1">
  </div>
</div>

