<div data-controller="test">
  <button data-action="click->test#toggleStuff" data-test-target="multi">1</button>
  <button data-action="click->test#toggleStuff" data-test-target="all">2</button>
  <button data-action="click->test#toggleStuff" data-test-target="all">3</button>
  <button data-action="click->test#toggleStuff" data-test-target="all">4</button>
</div>
