<ul class="flex items-center px-3 bg-blue-100 shadow h-10">
  <%= link_to "Home", root_path %>
  <% if current_user %>
    <%= link_to "Movies", media_path, class: "ml-3" %>
  <% end %>
  <div class="flex justify-end w-full">
    <%= render 'layouts/registration_items' %>
    <%= render 'layouts/login_items' %>
  </div>
</ul>
